/* O-O-O-O-O-O-O-O-O-O-O-O-O-O-O-O BIGGER PHONE O-O-O-O-O-O-O-O-O-O-O-O-O-O-O-O */

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .cookieAlert3 {
        width: 20%;
        height: 50px;
        float: left;
    }

    .cookieSectionBot{
        padding: 10px 0px;
        width: 95%;
        margin-left: 21px;
    }

    .cookieAlert2 {
        width: 100%;
        display: block;
        float: left;
        padding: 0px;
    }
    .cookieAlert1 {
        display: none;
    }

    .cookieBox button {
        position: absolute;
        left: 150px;
        bottom: 30px;
        color: white;
        background-color: #FF671D;
        padding: 8px 0px;
        width: 100px;
        border-radius: 8px;
        border: none;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 10px;
        cursor: pointer;
    }
    .cookieBox button.moreInfo {
        position: absolute;
        left: 20px;
        bottom: 30px;
        color: white;
        background-color: #616161;
        padding: 8px 0px;
        width: 100px;
        border-radius: 8px;
        border: none;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 10px;
        cursor: pointer;
    }
    .cookieMainLeft {
        width: 100%;
        float: left;
    }

    .cookieMainRight {
        width: 100%;
        float: right;
        height: 30px;
    }

    .doneButton {
        left: auto !important;
        right: 30px !important;
        bottom: 20px !important;
    }

    .cookieBox{
        position: fixed;
        bottom: 0px;
        right: 0px;
        /*
        left: 70%;
        margin-left: -310px;
        */
        width: 90%;
        height: auto;
        background-color: rgba(255,255,255,0.96);
        z-index: 99999;
        padding: 5%;
        padding-bottom:20px;
    }

    .cookieBox p{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 10px;
        width: 100%;
        margin-top: 0px;
    }

    .cookieBox img{
        display: none;
    }

    .cookieBox a{
        display: block;
        color: #1C2656;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 10px;
        margin: 5px 0px;
    }

    .separator{
        display: none;
    }
}



    /* O-O-O-O-O-O-O-O-O-O-O-O-O-O-O-O SMALL PHONE O-O-O-O-O-O-O-O-O-O-O-O-O-O-O-O */

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {


    .separator{
        display: none;
    }
        .inputCookie {
            margin-bottom: 216px !important;
        }
        .inputCookiea {
            margin-bottom: 60px !important;
        }
        .cookieSectionBot {
            width: 95%;
            padding: 4px 0px;
        }
        .cookieSection {
            padding: 2px 0px;
            width: 100%;
        }
        .cookieMainRight {
            height: 20px;
        }


    }
