@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-Bold.woff') format('woff'),
        url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana.woff') format('woff'),
        url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cookieBox{
    position: fixed;
    font-family: Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    bottom: 20px;
    right: 20px;
    /*
    left: 70%;
    margin-left: -310px;
    */
    width: 600px;
    background-color: rgba(255,255,255,0.98);
    z-index: 99999;
    padding: 20px;
    box-shadow: 3px 3px 10px #CCC;
}

.cookieBox p{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

.cookieBox img{
    display: block;
    text-align: right;
    float: right;
    font-family: Verdana, Geneva, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.cookieBox a{
    color: #1C2656;
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
}
.cookieBox .separator{
    color: #1C2656;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
}

.inputCookiea{
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    float: left;
    margin-right: 10px;
    width: 10px;
    margin-bottom: 50px;
}

.cookieHeadline{
    margin-left: 21px;
    font-family: Verdana, Geneva, sans-serif;
    padding: 10px 0px;
}

.cookieMainLeft{
    width: 75%;
    font-family: Verdana, Geneva, sans-serif;
    float: left;
}

.cookieMainRight{
    width: 25%;
    font-family: Verdana, Geneva, sans-serif;
    float: right;
}

.cookieSection{
    padding: 0px 0px;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
}

.cookieSectionBot{
    padding: 10px 0px;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    margin-left: 21px;
}

.cookieAlert1{
    width: 17%;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    float: right;
    margin-right: 3%;
}

.cookieAlert2{
    width: 68%;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    float: left;
    padding: 15px 0px 0px 15px;
}

.cookieAlert2 h4{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, sans-serif;
}

.cookieAlert3{
    width: 26%;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    float: right;
    text-align: right;
}

.inputCookie{
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    float: left;
    margin-right: 10px;
    width: 10px;
    margin-bottom: 181px;
}
.cookieBox button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: white;
    background-color: #FF671D;
    padding: 8px 0px;
    width: 100px;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    cursor: pointer;
}


.cookieBox button.moreInfo{
    position: absolute;
    right: 30px;
    bottom: 70px;
    color: white;
    background-color: #616161;
    padding: 8px 0px;
    width: 100px;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    cursor: pointer;
}
