/* O-O-O-O-O-O-O-O-O-O-O-O-O-O-O-O BIGGER PHONE O-O-O-O-O-O-O-O-O-O-O-O-O-O-O-O */

/* Extra Small Devices, Phones */
@media only screen and (max-width : 780px) {

    .inputCookiea {
    margin-bottom: 40px;
}

    .cookieAlert3 {
    width: 20%;
    height: 50px;
    float: left;
    display: block;
}
    .cookieAlert2 {
    width: 75%;
    display: block;
    float: left;
}

    .cookieBox button.moreInfo {
    position: absolute;
    left: 3%;
    bottom: 15px;
    color: white;
    background-color: #616161;
    padding: 8px 0px;
    width: 100px;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.cookieBox button {
    position: absolute;
    left: 18%;
    bottom: 15px;
    color: white;
    background-color: #FF671D;
    padding: 8px 0px;
    width: 100px;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    cursor: pointer;
}


.doneButton {
    left: auto !important;
    right: 10px !important;
    bottom: 20px !important;
}

    .cookieBox{
        position: fixed;
        bottom: 0px;
        right: 0px;
        /*
        left: 70%;
        margin-left: -310px;
        */
        width: 98%;
        height: auto;
        background-color: rgba(255,255,255,0.96);
        z-index: 99999;
        padding: 1%;
    }

    .cookieBox img{
        width: 70px;
        display: block;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }

    .cookieBox p{
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 10px;
        width: 100%;
    }

    .cookieBox a{
        color: #1C2656;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 10px;
        margin: 5px 0px;
    }

}
