@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-Bold.woff') format('woff'),
        url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana.woff') format('woff'),
        url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.mainHero .slick-slide[aria-hidden="true"] .slider-img { visibility: hidden; }

#animation_containerA{
    display: none;
}

#animation_container{
    display: block;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.mainHero{
    display: block;
}

.mainHeroMobile{
    display: none;
}

p, h1, h2, h3, h4, a, div, body{
    font-family: 'Verdana';
}

p {
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: inherit;
}

.heroImageDesk{
    display: block;
}

.heroImageMob{
    display: none;
}

.palePink{
    background-color: #D7BDB6;
}

.paleBlue{
    background-color: #B1C6D7;
}

.paleBrown{
    background-color: #AC9269;
}

.paleGreen{
    background-color: #709DA0;
}

.strongGreen{
    background-color: #326D70;
}

.strongPink{
    background-color: #AF6450;
}

.strongBlue{
    background-color: #0F5D7E;
}

.strongBrown{
    background-color: #775726;
}

/** ------------------------  ADD ELEMENT PULSE  ------------------------ **/
@keyframes animPulse {
    0% {transform: scale(1)}
    50% {transform: scale(1.09)}
    100% {transform: scale(1)}
}

/* The element to apply the animation to */
.addPulse {
    animation-name: animPulse;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

/** ------------------------  TOP NAVIGATION  ------------------------ **/

.navBox{
    height: 100%;
    position: fixed;
    top: 0px;
    right: -45%;
    border-top-left-radius: 10px;
    transition: 0.4s ease-in-out;
    z-index: 100;
}

.navBox .navItem{
    margin: 0px 35px 10px;
    height: 21%;
    margin-top: 10%;
    position: relative;
}

.navItem:first-child{
    margin-top: 50px;
}

.navItem h2{
    margin: 0px 0px 10px 0px;
    color: white;
    font-size: 21px;
}

.navItem .prodImage{
    height: 80%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    filter: grayscale(0.3);
    opacity: 0.6;
    transition: 0.3s;
}

.prodImage.active{
    filter: grayscale(0);
    opacity: 1;
}


.navItem .prodImage:hover{
    filter: grayscale(0);
    opacity: 1;
}

.navItem .tagPrice{
    position: absolute;
    right: 9px;
    z-index: 100;
    width: 33%;
    top: 34px;
}

.navBoxActive{
    right: 0px;
}

.topLine{
    height: 50px;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.hamburgerButton{
    position: fixed;
    top: 12px;
    right: -5px;
    z-index: 101;
    outline: none;
}

.topLine .leftSide{
    float: left;
    width: 100%;
    color: white;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 18px;
    margin: 11px 10px;
}

.topLine .leftSide a{
    text-decoration: none;
    transition: 0.3s;
}

.topLine .leftSide a:hover{
    opacity: 0.7;
}

.topLine .logo{
    color: white;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 18px;
    display: inline;
    margin: 0px 10px;
    padding: 0px;
}

.topLine .description{
    color: white;
    font-family: 'Verdana';
    font-weight: normal;
    font-size: 16px;
    display: inline;
    padding: 0px;
}

.topLine .description img{    
    margin: 0px 10px 0px 0px;
}

.topLine img{
    display: inline;
    vertical-align: text-top;
    height: 23px;
}

/** ------------------------  MAIN HERO  ------------------------ **/

.mainHeadline{
    position: absolute;
    top: 100px;
    z-index: 1;
    display: block;
    text-align: center;
    width: 50%;
    margin-left: 50%;
    left: -25%;
    color: #1b3946;
}

.mainHero{
    width: 100%;
}

.mainHero .slide{
    width: 100%;
}

.textUnderMain{
    width: 80%;
    margin: auto;
    text-align: center;
    margin: 20px auto 60px auto;
    color: #4F4F4F;
    max-width: 1200px;
    padding: 60px 0px;
}

.textUnderMainLinks{
    width: 80%;
    margin: auto;
    text-align: center;
    margin: 20px auto 60px auto;
    color: #4F4F4F;
    max-width: 1200px;
    padding: 0px 0px 60px 0px;
}

.headArrowNext{
    position: absolute;
    right: 5%;
    height: auto;
    top: -30px;
    width: 37px;
     margin-top: 30%;
    filter: brightness(100);
}

.headArrowPrevious{
    position: absolute;
    left: 5%;
    top: -30px;
    width: 37px;
    height: auto;
     margin-top: 30%;
    transform: rotate(180deg);
    filter: brightness(100);
}

.headArrowPrevious img{
    -webkit-filter: drop-shadow(1px 1px 5px #000);
    filter: drop-shadow(1px 1px 5px #000);
}

.headArrowNext img{
    -webkit-filter: drop-shadow(1px 1px 5px #000);
    filter: drop-shadow(1px 1px 5px #000);
}

.headArrowNext:hover{
    filter: brightness(0);
}

.headArrowPrevious:hover{
    filter: brightness(0);
}


/** ------------------------  STORAGE PLANER  ------------------------ **/

.storagePlaner{
    background-color: #2A1F21;
    width: 100%;
}

.storagePlaner h1{
    color: #fff;
    text-align: center;
    padding: 40px 0 0 0;
}

.storagePlaner p{
    color: #fff;
    text-align: center;
    width: 65%;
    max-width: 1200px;
    margin: auto;
}

.plannerAnimationHolder{
    width: 80%;
    max-width: 1200px;
    margin: 30px auto 0px auto;
    text-align: center;
    color: #4F4F4F;
    position: relative;
    padding: 0px 0 40px 0px;
}

.plannerButton{
    background-color: #996445;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 30%;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
    z-index: 10;
}

.plannerButton:hover{
    background-color: #B2876E;
}

    .plannerAnimMob {
        display: none;
    }
    
    #animation_container1{
        display: block;
    }

/** ------------------------  OPEN CLOSET  ------------------------ **/

.openCloset{
    width: 80%;
    max-width: 1200px;
    margin: 60px auto 60px auto;
    text-align: center;
    color: #4F4F4F;
}

.openCloset h1{
    margin: 60px auto 60px auto;
}

.openCloset p{
    padding: 0px 10%;
}

.openCloset img{
    width: 100%;
}

.openCloset .animationHolder{
    position: relative;
}

.allProdButton{
    background-color: #996445;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 80px;
    right: 80px;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
    z-index: 10;
}

.allProdButton:hover{
    background-color: #B2876E;
}

/** ------------------------  MORE PLATSA  ------------------------ **/

.morePlatsa{
    width: 80%;
    margin: 60px auto 60px auto;
    text-align: center;
    color: #4F4F4F;
    max-width: 1200px;
}

.imageHolder2{
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
}

.imageHolder2 .platsaImage1{
    width: 35%;
    float: left;
    display: block;
}

.imageHolder2 .platsaImage2{
    width: 26.2%;
    float: left;
    margin: 0px 1.9%;
    display: block;
}

.platsaImage1:hover > img{
    transform: scale(1.03);
}

.platsaImage2:hover > img{
    transform: scale(1.03);
}

.imageHolder2 img{
    width: 100%;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.shortDesc{
    text-align: left;
    margin: 10px;
}


/** ------------------------  IKEA CLASSICS  ------------------------ **/

.ikeaClassics{
    width: 100%;
    padding: 80px 0px;
    color: black;
    background-color: #D8E2EB;
    height: auto;
}

.ikeaClassics h1{
    text-align: center;
    padding: 0px 0px 40px 0px;
}

.imageHolder3{
    width: 80%;
    margin: auto;
    display: block;
    max-width: 1200px;
}

.imageHolder3 .classicsImage{
    width: 32%;
    float: left;
    display: block;
    position: relative;
}

.imageHolder3 .classicsImage1{
    width: 32%;
    float: left;
    margin: 0px 2%;
    display: block;
}

.imageHolder3 .prodImage{
    width: 100%;
    transition: 0.3s ease-in-out;
}

.imageHolder3 .prodImage:hover{
    transform: scale(1.03);
}

.imageHolder3 h2{
    text-align: left;
    margin: 10px;
}

.shortDesc{
    text-align: left;
    margin: 10px;
}

.imageHolder3 .tagPrice{
    position: absolute;
    top: 0px;
    left: 15px;
    width: 32%;
}

/** ------------------------  IKEA CLASSICS  ------------------------ **/


.benefitsSection{
    width: 100%;
    padding: 30px 0px;
    color: black;
    position: relative;
    max-width: 1400px;
    margin: auto;
}

.benefitsSection h1{
    text-align: center;
    padding: 0px 0px 40px 0px;
    position: relative;
    z-index: 10;
}

.benefitsBkg{
    position: absolute;
    top: 120px;
    width: 50%;
    left: 8%;
}

.benefitsText{
    width: 25%;
    float: right;
    padding: 5% 10%;
}

.benefitsButton{
    background-color: #D14A2C;
    color: white;
    padding: 8px 35px;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 12px;
    border-radius: 8px;
}

/** ------------------------  FOOTER  ------------------------ **/

footer{
    height: 35px;
    width: 100%;
    margin-top: 150px;
    background-color: #3F424F;
}

footer p{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    padding: 15px;
    background-color: #3F424F;
}

.footerNoBenefits{
    margin-top: 0px;
}

/** -+*-+*-+*-+*-+*-+*-+*-+*  PLATSA - STAIRS -+*-+*-+*-+*-+*-+*-+*-+* **/

.platsaStairsHead{
    width: 100%;
    position: relative;
}

.platsaStairsHead img{
    width: 100%;
}

.platsaStairsHead .mainHeadText{
    position: absolute;
    width: 250px;
    height: 200px;
    right: 30%;
    bottom: 15%;
    color: white;
}

.mainHeadText .tagNew{
    background-color: #D14A2C;
    display: inline;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.mainHeadText .prodName{
    margin: 15px 5px 0px 5px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5)
}

.mainHeadText .shortText{
    margin: 0px 5px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5)
}

.mainHeadText .prodPrice{
    margin: 5px 5px 0px 5px;
    font-size: 25px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.5)
}

.mainHeadText .linkButton{
    color: white;
    background-color: #996445;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    margin-top: 13px;
}

.mainHeadText .linkButton:hover{
    background-color: #B2876E;
}

/** ------------------------  PROD SECTION  ------------------------ **/


.prodSection{
    width: 80%;
    max-width: 1200px;
    margin: 60px auto 60px auto;
    text-align: center;
    color: #4F4F4F;
}

.prodSection h1{
    margin: 60px auto 60px auto;
}

.prodWrapper{
    width: 90%;
    background-color: #B1C6D7;
    padding: 5%;
}

.prodWrapperPink{
    width: 90%;
    background-color: #CDACA4;
    padding: 5%;
}

.prodWrapperBrown{
    width: 90%;
    background-color: #AC9269;
    padding: 5%;
}

.prodWrapperGreen{
    width: 90%;
    background-color: #709DA0;
    padding: 5%;
}


.prodContainer{
    width: 25%;
    background-color: white;
    text-align: left;
    padding: 0% 2%;
    float: left;
    display: inline;
    margin: 2%;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
    transition: 0.5s ease-in-out;
    border-radius: 2px;
    position: relative;
}

.prodContainer:hover{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
}

.fixedHeightContainer{
    margin: 0px 0px 35px 5px;
    height: 90px;
}

.prodContainer .prodName{
    font-size: 18px;
    margin: 0px 0 3px 0px;
}

.prodContainer .shortText{
    margin: 0px;
    font-size: 14px;
    display: block;
    line-height: initial;
}

.prodContainer .prodPrice{
    margin: 0px;
    font-size: 24px;
    margin: 5px 0 0px 0px;
}

.prodContainer img{
    width: 100%;
    transition: 0.3s ease-in-out;
    margin: auto;
    text-align: center;
    display: block;
    padding: 20px 0px 5px 0px;
    transform: scale(0.8);
}

.prodContainer:hover > img{
    transform: scale(0.9);
}

.prodContainer:hover > .linkBox{
    width: 35px;
    height: 35px; 
}

.linkBox{
    display: block;
    background-color: #3F424F;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px;
    padding: 8px;
    text-align: left;
    border-top-left-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.linkBox img{
    height: 80%;
    margin-left: 0px;
    padding: 5px 0px;
}

/** -+*-+*-+*-+*-+*-+*-+*-+*  PLATSA - STUDIO -+*-+*-+*-+*-+*-+*-+*-+* **/

.platsaStudioHead{
    width: 100%;
    position: relative;
}

.platsaStudioHead img{
    width: 100%;
}

.platsaStudioHead .mainHeadText{
    position: absolute;
    width: 250px;
    height: 200px;
    right: 30%;
    bottom: 15%;
    color: white;
}

/** -+*-+*-+*-+*-+*-+*-+*-+*  PLATSA - BRIDGE -+*-+*-+*-+*-+*-+*-+*-+* **/

.platsaBridgeHead{
    width: 100%;
    position: relative;
}

.platsaBridgeHead img{
    width: 100%;
}

.platsaBridgeHead .mainHeadText{
    color: white;
}

.platsaBridgeHead .mainHeadText{
    position: absolute;
    width: 250px;
    height: 200px;
    right: 30%;
    bottom: 15%;
}

/** -+*-+*-+*-+*-+*-+*-+*-+*  PLATSA - LOFT -+*-+*-+*-+*-+*-+*-+*-+* **/

.platsaLoftHead{
    width: 100%;
    position: relative;
}

.platsaLoftHead img{
    width: 100%;
}

.platsaLoftHead .mainHeadText{
    color: white;
}

.platsaLoftHead .mainHeadText{
    position: absolute;
    width: 250px;
    height: 200px;
    right: 30%;
    bottom: 20%;
}

/** ------------------------  REPEATING LINKS  ------------------------ **/
.repeatingLinks{
    color: black;
    text-decoration: none;
    font-size: 12px;
    text-decoration: none;
}

.repeatingLinks .newTag{
    color: #D14A2C;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.repeatingLinks .title{
    font-weight: bold;
}

.repeatingLinks:hover{
    color: #B1C6D7;
    text-decoration: underline;
}

.repeatingLinks:hover > .newTag{
    color: #B1C6D7;
    text-decoration: none;
}
/** -+*-+*-+*-+*-+*-+*-+*-+*  BILLY -+*-+*-+*-+*-+*-+*-+*-+* **/

.platsaBillyHead{
    width: 100%;
    position: relative;
}

.platsaBillyHead img{
    width: 100%;
}

.platsaBillyHead .mainHeadText{
    color: white;
}

.platsaBillyHead .mainHeadText{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 30%;
    bottom: 20%;
}

.platsaBillyHead .linkButton{
    background-color: #AF6450;
}

.platsaBillyHead .lowerPrice{
    width: 18%;
    max-width: 200px;
    position: absolute;
    top: 50px;
    left: 8%;
}

.billyPinkBox{
    max-height: 400px;
    border: 10px solid #C8AAA3;
    border-bottom: 5px solid #C8AAA3;
    position: relative;
}

.booksBilly{
    width: 50%;
    position: relative;
    padding: 20px 20px 3px 20px;
    display: block;
    float: left;
}

.booksBillyRight{
    width: 50%;
    position: relative;
    padding: 20px 20px 3px 20px;
    display: block;
    float: right;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.booksBillyRight.dummy{
    visibility: hidden;
    opacity: 0;
}

.billyPinkBoxHeading{
    position: absolute;
    display: block;
    width: 80%;
    left: -40%;
    margin-left: 50% !important;
    margin-top: 11% !important;
}

.prodSection .billyHeadline{
    text-align: left;
    margin: 0px 0px -25px 30px;
    position: relative;
    z-index: 9;
    font-weight: bold;
    font-size: 70px;
    padding: 0px;
    color: #8E5C4E;
}

.billyTextRight{
    width: 35%;
    display: block;
    position: absolute;
    right: 8%;
    top: 20%;
}

.billyTextLeft{
    width: 35%;
    display: block;
    position: absolute;
    left: 8%;
    top: 20%;
}

.billyArrows{
    height: 80%;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.repeatingLinks.billy:hover{
    color: #C8AAA3;
}

/** -+*-+*-+*-+*-+*-+*-+*-+*  KALLAX -+*-+*-+*-+*-+*-+*-+*-+* **/

.platsaKallaxHead{
    width: 100%;
    position: relative;
}

.platsaKallaxHead img{
    width: 100%;
}

.platsaKallaxHead .mainHeadText{
    color: white;
}

.platsaKallaxHead .mainHeadText{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 30%;
    bottom: 20%;
}

.platsaKallaxHead .linkButton{
    background-color: #775726;
    transition: 0.2s;
}

.platsaKallaxHead .linkButton:hover{
    background-color: #AC9269;
}

.platsaKallaxHead .lowerPrice{
    width: 18%;
    max-width: 200px;
    position: absolute;
    top: 50px;
    left: 8%;
}

.kallaxHolder{
    width: 660px;
    border: 15px solid #AC9269;
    margin: auto;
    position: relative;
    margin-top: 100px;
}

.kallaxBox{
    width: 320px;
    height: 320px;
    border: 5px solid #AC9269;
    display: block;
    float: left;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.kallaxBox:hover > .kallaxImage{
    transform: scale(1);
}

.kallaxBox img{
    width: 82%;
    margin-top: 5%;
    position: absolute;
    margin-left: 50%;
    left: -41%;
    z-index: -1;
    transform: scale(0.85);
    transition: 0.3s ease-in-out;
}

.kallaxBox p{
    width: 90%;
    position: absolute;
    margin-left: 50%;
    left: -45%;
    z-index: -1;
    bottom: 15px;
    font-size: 14px;
    color: black;
}

.kallaxBox .textOnly{
    text-align: center;
    margin: 0px;
    padding: 0px 40px;
    margin-top: 25%;
}

.kallaxHeadline{
    position: absolute;
    z-index: 9;
    top: -112px;
    font-size: 70px;
    color: #593322;
}

.kallaxHolder .textLeft{
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    left: 0px;
    text-decoration: none;
    color: black;
}

.kallaxHolder .textLeft:hover{
    text-decoration: underline;
}

.kallaxHolder .textRight{
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    right: 0px;
    text-decoration: none;
    color: black;
}

.kallaxHolder .textRight:hover{
    text-decoration: underline;
}

.repeatingLinks.kallax:hover{
    color: #AC9269;
}

/** -+*-+*-+*-+*-+*-+*-+*-+*  BRIMNES -+*-+*-+*-+*-+*-+*-+*-+* **/

.platsaBrimnesHead{
    width: 100%;
    position: relative;
}

.platsaBrimnesHead img{
    width: 100%;
}

.platsaBrimnesHead .mainHeadText{
    color: white;
}

.platsaBrimnesHead .mainHeadText{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 30%;
    bottom: 20%;
}

.platsaBrimnesHead .linkButton{
    background-color: #326D70;
    transition: 0.2s;
    margin-top: 13px;
}

.platsaBrimnesHead .linkButton:hover{
    background-color: #709DA0;
}

.repeatingLinks.brimnes:hover{
    color: #709DA0;
}

.brimnesPreview{
    width: 80%;
    max-width: 640px;
    margin: 100px auto 150px auto;
    position: relative;
}

.brimnesPreview img{
    width: 100%;
}

.brimnesPreview .brimnesProdImage{
    width: 100%;
    transform: scale(0.9);
    transition: 0.4s;
}

.brimnesHover:hover > .brimnesProdImage{
    transform: scale(1);
}

.brimnesHover:hover > .brimnesProdDesc{
    text-decoration: underline;
    color: #709DA0;
}

.brimnesPreview .brimnesProdTopLeft{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.brimnesPreview .brimnesProdTopRight{
    width: 30%;
    position: absolute;
    top: 10%;
    right: 10%;
}

.brimnesPreview .brimnesProdBotLeft{
    width: 30%;
    position: absolute;
    top: 52%;
    left: 10%;
}

.brimnesPreview .brimnesProdBotRight{
    width: 30%;
    position: absolute;
    top: 52%;
    right: 10%;
}

.brimnesHeadline{
    position: absolute;
    z-index: 9;
    top: -102px;
    font-size: 70px;
    color: #326D70;
}

.brimnesPreview .textLeft{
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    left: 0px;
    text-decoration: none;
    color: black;
}

.brimnesPreview .textLeft:hover{
    text-decoration: underline;
}

.brimnesPreview .textRight{
    position: absolute;
    bottom: -40px;
    font-size: 14px;
    right: 0px;
    text-decoration: none;
    color: black;
}

.brimnesPreview .textRight:hover{
    text-decoration: underline;
}


.brimnesProdDesc{
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    position: absolute;
}

.newTagBrimnes{
    color: #D14A2C;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.titleBrimnes{
    font-weight: bold;
}

.brimnesProdDesc:hover{
    color: #B1C6D7;
    text-decoration: underline;
}

.brimnesProdDesc:hover > .newTag{
    color: #B1C6D7;
    text-decoration: none;
}

.brimnesProdDesc:hover{
    color: #709DA0;
}

/** -+*-+*-+*-+*-+*-+*-+*-+*  HOOKS HOOKS -+*-+*-+*-+*-+*-+*-+*-+* **/

.prodHooksHolder{
    width: 80%;
    margin: auto;
    padding: 40px 0px;
    max-width: 1200px;
}

.hooksLeft{
    width: 50%;
    float: left;
}

.hooksRight{
    width: 50%;
    float: left;
}

.fullImage{
    width: 96%;
    margin: 2%;
    position: relative;
}

.halfImage{
    width: 46%;
    float: left;
    margin: 2%;
    position: relative;
}

.hookText{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
}

.hookFakta{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.hookFakta .prodName{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.hookFakta .shortText{
    margin: 0px;
    padding: 5px 0px;
    font-size: 15px;
}

.hookFakta .prodPrice{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

.foremalButton{
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


/** -+*-+*-+*-+*-+*-+*-+*-+*  MOBILE MOBILE MOBILE -+*-+*-+*-+*-+*-+*-+*-+* **/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
    
#animation_containerA{
    display: block !important;
}

#animation_container{
    display: none !important;
}
    
    p{
    line-height: 1.3;
    }
    
    .hooksRight{
        width: 100%;
    }
    
    .hooksLeft{
        width: 100%;
    }
    
    .allProdButton {
    top: -53px;
    right: -140px;
    margin-right: 50%;
    width: 280px;
    padding: 10px 0px;
}
    
    .openCloset{
        width: 100%;
    }
    
    .openCloset h1 {
    margin: 30px auto 30px auto;
}
    
    .openCloset .animationHolder {
        margin-bottom: 100px;
        margin-top: 80px;
}
    
    .plannerAnimMob {
        display: block;
        margin-top: 65px;
    }
    
    #animation_container1{
        display: none;
    }
    
    .mainHeadline {
        width: 90%;
        left: -45%;
    }
    .slick-prev {
        left: 30%;
        z-index: 10;
    }

    .slick-next {
        left: 52%;
    }

    .slick-prev, .slick-next {
        top: initial;
        bottom: 18%;
        width: 18%;
        padding: 0;
    }

    .mainHero{
        display: none;
    }

    .mainHeroMobile{
        display: block;
    }

    .heroImageDesk{
        display: none;
    }

    .heroImageMob{
        display: block;
    }

    .navBox .navItem {
        margin: 60px 0% 0px 7%;
        height: 21%;
        width: 40%;
        float: left;
        position: relative;
    }
    .navBox {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        right: -100%;
        border-top-left-radius: 10px;
        transition: 0.4s ease-in-out;
        z-index: 100;
    }
    .navBoxActive {
        right: 0px !important;
    }
    .navItem .prodImage {
        height: 100%;
    }


    .leftSide .description {
        display: none;
    }

    .imageHolder3 .classicsImage {
        width: 100%;
    }

    .imageHolder3 .classicsImage1 {
        width: 100%;
        margin: 50px 0px;
    }

    .benefitsBkg {
        width: 90%;
        left: 5%;
        top: 0px;
        position: relative;
    }
    .benefitsText {
        width: 80%;
        float: initial;
        padding: 5% 10%;
        text-align: center;
    }

    .benefitsSection h1 {
        padding: 0px 20px;
    }

    .prodSection {
        width: 100%;
    }

    .prodContainer {
        width: 92%;
        margin-top: 20px;
    }

    .prodContainer .prodName {
        margin: 0px 0px 0px 8%;
    }

    .prodContainer .shortText {
        margin: 0px 0px 4px 8%;
        width: 60%;
    }

    .prodContainer .prodPrice {
        margin: 0px 0px 0px 8%;
    }

    .textUnderMain {
        width: 95%;
        padding: 30px 0px;
    }

    /** -+*-+*-+*-+*-+*-+*-+*-+*  INDEX MOBILE -+*-+*-+*-+*-+*-+*-+*-+* **/

    .imageHolder2 {
        height: auto;
    }

    .imageHolder2 .platsaImage1 {
        width: 100%;
    }

    .imageHolder2 .platsaImage2 {
        width: 100%;
        margin: 30px 0px;
    }

    /** -+*-+*-+*-+*-+*-+*-+*-+*  KALLAX MOBILE -+*-+*-+*-+*-+*-+*-+*-+* **/

    .kallaxHolder {
        width: 90%;
        border: NONE;
        margin: auto;
        position: relative;
        margin-top: 100px;
        padding: 5%;
        background-color: #AC9269;
    }

    .platsaKallaxHead .mainHeadText {
        position: absolute;
        width: 200px;
        height: auto;
        right: initial;
        left: 10%;
        bottom: 10%;
    }

    .kallaxBox {
        width: 100%;
        min-height: 320px;
        border: none;
        display: block;
        float: left;
        text-align: center;
        position: relative;
        cursor: pointer;
        z-index: 2;
        background-color: white;
        margin-bottom: 15px;
    }
    .kallaxHeadline {
        position: absolute;
        z-index: 9;
        top: -82px;
        font-size: 50px;
        color: #593322;
    }

    .kallaxHolder .textRight {
        position: absolute;
        bottom: -50px;
        font-size: 14px;
        right: 0px;
        text-decoration: none;
        display: block;
        color: black;
        text-align: center;
        width: 100%;
    }

    .kallaxHolder .textLeft {
        position: absolute;
        bottom: -25px;
        font-size: 14px;
        right: 0px;
        text-decoration: none;
        display: block;
        color: black;
        text-align: center;
        width: 100%;
    }

    .prodWrapperBrown {
        margin-top: 130px;
    }

    /** -+*-+*-+*-+*-+*-+*-+*-+*  PLATSA MOBILE -+*-+*-+*-+*-+*-+*-+*-+* **/

    .platsaBridgeHead .mainHeadText {
        position: absolute;
        width: 241px;
        height: auto;
        right: initial;
        bottom: 10%;
        left: 10%;
    }

    .platsaLoftHead .mainHeadText {
        position: absolute;
        width: 241px;
        height: auto;
        right: initial;
        bottom: 10%;
        left: 10%;
    }

    .platsaStudioHead .mainHeadText {
        position: absolute;
        width: 241px;
        height: auto;
        right: initial;
        bottom: 10%;
        left: 10%;
    }
    .platsaStairsHead .mainHeadText {
        position: absolute;
        width: 241px;
        height: auto;
        right: initial;
        bottom: 10%;
        left: 10%;
        color: white;
    }

    .headArrowNext {
        width: 25px;
        filter: brightness(100);
        height: auto;
        top: -30px;
        margin-top: 65%;
    }

    .headArrowNext img{
        -webkit-filter: drop-shadow(1px 1px 5px #000);
        filter: drop-shadow(1px 1px 5px #000);
    }

    .headArrowPrevious {
        width: 25px;
        filter: brightness(100);
        height: auto;
        top: -30px;
        margin-top: 65%;
    }

    .headArrowPrevious img{
        -webkit-filter: drop-shadow(1px 1px 5px #000);
        filter: drop-shadow(1px 1px 5px #000);
    }

    /** -+*-+*-+*-+*-+*-+*-+*-+*  BILLY MOBILE -+*-+*-+*-+*-+*-+*-+*-+* **/
    .platsaBillyHead .mainHeadText {
        position: absolute;
        width: 200px;
        height: auto;
        right: initial;
        bottom: 10%;
        left: 10%;
    }
    .billyTextRight {
        display: none;
    }

    .billyTextLeft {
        display: none;
    }

    .billyPinkBoxHeading {
        margin-top: 20px !important;
        font-size: 22px;
        display: block;
        width: 80%;
    }
    .billyHeadline{
        font-size: 40px;
        top: -7px;
    }

    /** -+*-+*-+*-+*-+*-+*-+*-+*  BRIMNES MOBILE -+*-+*-+*-+*-+*-+*-+*-+* **/

    .brimnesPreview .textRight {
        position: relative;
        bottom: -23px;
        font-size: 14px;
        right: 0px;
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
    }

    .platsaBrimnesHead .mainHeadText{
        position: absolute;
        width: 200px;
        height: auto;
        right: initial;
        left: 10%;
        bottom: 10%;
    }

    .brimnesPreview .textLeft {
        position: relative;
        bottom: -10px;
        font-size: 14px;
        left: 0px;
        text-decoration: none;
        color: black;
        display: block;
        text-align: center;
    }
    .brimnesProdImage {
        transform: scale(1);
    }

    .brimnesProdDesc {
        display: none;
    }

    .brimnesHeadline {
        font-size: 40px;
        top: -70px;
    }

    .prodWrapperGreen {
        width: 90%;
        background-color: #709DA0;
        padding: 5%;
    }

    .brimnesPreview {
        width: 95%;
    }
    
    

.plannerButton{
    top: -12%;
    right: -140px;
    margin-right: 50%;
    width: 280px;
    padding: 10px 0px;
}
}