html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

.transition-container{
    position: absolute;
    z-index: 111111111111111111111;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 1;
}

.transition-logo{
}