<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>IKEA Napravi mjesta za sebe</title>
    <meta name="description" content="IKEA Napravi mjesta za sebe">
    <meta name="author" content="IKEA Napravi mjesta za sebe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="content/slick/slick.css"/>
    <link rel="stylesheet" href="content/slick/slick-theme.css">
    <link href="css/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="css/cookie-style.css">
    <link rel="stylesheet" type="text/css" href="css/cookie-styleTab.css">
    <link rel="stylesheet" type="text/css" href="css/cookie-styleMob.css">
    <link rel="stylesheet" type="text/css" href="css/transition.css">

  </head>
  
  <body onload="checkCookie()">
    <div id="socialAnalytics"></div>
    <div id="cookiePolicy"></div>
    <div class="transition-container palePink"></div>

    <div class="topLine palePink">
      <div class="leftSide"><a href="index.html"><img src="images/icon-home.svg"><p class="logo">IKEA</p></a><p class="description"><img src="images/icon-separator.svg"> Napravi mjesta za sebe</p></div>
    </div>

    <div class="hamburgerButton">
      <button class="hamburger hamburger--spin" type="button" onclick="toggleMenu()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div class="navBox strongPink">
      <div class="navItem first">
        <h2>PLATSA</h2>
        <a href="platsa-bridge.html">
          <img class="prodImage" src="images/navPlatsaEdit.jpg" />
        </a>
      </div>
      <div class="navItem">
        <h2>BILLY</h2>
        <a href="billy.html">
          <img class="prodImage" src="images/navBillyEdit.jpg" />
          <img class="tagPrice" src="images/tagCijena.png" />
        </a>
      </div>
      <div class="navItem">
        <h2>KALLAX</h2>
        <a href="kallax.html">
          <img class="prodImage" src="images/navKallaxEdit.jpg" />
        </a>
      </div>
      <div class="navItem">
        <h2>BRIMNES</h2>
        <a href="brimnes.html">
          <img class="prodImage" src="images/navBrimnesEdit.jpg" />
        </a>
      </div>
    </div>

    <div class="platsaBillyHead">
<!--
      <a href="platsa-stairs.html" class="headArrowNext"><img src="images/icon-arrow.svg" /></a>
      <a href="platsa-loft.html" class="headArrowPrevious"><img src="images/icon-arrow.svg" /></a>
-->
      
      <img class="heroImageDesk" src="images/bkgImages/IKEA_Bkg_Billy.jpg" />
      <img class="heroImageMob" src="images/bkgImages/IKEA_Bkg_Billy_Mobile.jpg" />
      <img class="lowerPrice" src="images/icon-lowPrice-HR.svg"/>
      <div class="mainHeadText">
        <h3 class="prodName">BILLY</h3>
        <p class="shortText">Biblioteka, bijela</p>
        <h3 class="prodPrice">349 kn</h3>
        <a href="https://www.ikea.com/hr/hr/catalog/products/00263850/" class="linkButton" target="_blank">Saznaj više</a>
      </div>
    </div>
    
    <p class="textUnderMainLinks">
      <a href="{{cells.ID}}" target="_blank" class="repeatingLinks brimnes">
        <span class="newTag">{{cells.TAG}}</span> 
        <span class="desc"> {{cells.SHORT}}</span>,
        <span class="title"> {{cells.TITLE}}</span>,
        <span class="price"> {{cells.PRICE}}</span>;
      </a> 
    </p>

    <div class="prodSection">
      <h1 class="billyHeadline">BILLY</h1>
      <div class="billyPinkBox">
        <img class="booksBilly" src="images/booksBilly.svg" />
        <p class="billyTextRight">BILLY je naš najsvestraniji sustav za knjige! Ovo može biti početak tvoje vlastite knjižnice u kojoj će tvoje knjige biti zaštićene i gdje ćeš uvijek naći inspiraciju za čitanje.</p>
        <div style="clear: both"></div>
      </div>  
      <div class="billyPinkBox">
        <img class="booksBillyRight" src="images/booksBilly.svg" />
        <p class="billyTextLeft">BILLY postoji u više visina, širina i materijala kako bi odgovarao svim knjigama i sobama. S BILLY rješenjima možeš prilagoditi prostor između polica prema svojim potrebama.</p>
        <img class="billyArrows" src="images/billyArrows.svg" />
        <div style="clear: both"></div>
      </div>
      <div class="billyPinkBox">
        <img class="booksBillyRight dummy" src="images/booksBilly.svg" />
        <h1 class="billyPinkBoxHeading">Čitamo ti misli ovim izborom proizvoda</h1>
        <div style="clear: both"></div>
      </div>

      <div class="prodWrapperPink">
        <a href="{{cells.ID}}" target="_blank" class="prodContainer">
          <img src="{{cells.IMG}}">
          <div class="fixedHeightContainer">
          <h3 class="prodName">{{cells.TITLE}}</h3>
          <p class="shortText">{{cells.DESC}}</p>
          <h3 class="prodPrice">{{cells.PRICE}}</h3>
          </div>
          <div class="linkBox">
            <img src="images/icon-external.svg" />
          </div>
        </a>
      </div>

    </div>

    <div class="ikeaClassics">
      <h1>Više rješenja za odlaganje samo za tebe...</h1>
      <div class="imageHolder3">
        <a href="platsa-bridge.html" class="classicsImage">
          <img class="prodImage" src="images/classics/IKEA_Classics_Platsa.jpg" />
          <h2>PLATSA</h2>
          <p class="shortDesc">Savršena za komplicirane situacije...</p>
        </a>
        <a href="kallax.html" class="classicsImage1">
          <img class="prodImage" src="images/classics/IKEA_Classics_Kallax.jpg" />
          <h2>KALLAX</h2>
          <p class="shortDesc">Jednostavan dizajn koji savršeno odgovara svakoj sobi...</p>
        </a>
        <a href="brimnes.html" class="classicsImage">
          <img class="prodImage" src="images/classics/IKEA_Classics_Brimnes.jpg" />
          <h2>BRIMNES</h2>
          <p class="shortDesc">Stil i fleksibilnost koji upotpunjuju tvoju dnevnu sobu...</p>
        </a>
        <div style="clear: both"></div>
      </div>
    </div>

    <div class="benefitsSection">
      <h1>Da, dobivaš više za manje!</h1>
      <img class="benefitsBkg" src="images/delivery-hr.svg" />
      <div class="benefitsText">
        <p>Pripremili smo nove niže cijene dostave za još lakše isprobavanje naših rješenja!</p>
        <a href="https://www.ikea.com/ms/hr_HR/customer-service/our-services/picking-and-delivery-nonecom.html" target="_blank" class="benefitsButton">Provjeri cijene dostave</a>
      </div>
      <div style="clear: both;"></div>
    </div>

    <footer>
      <p>© Inter IKEA Systems B.V. 1999. - 2018. | <span style="cursor: pointer" onclick="cookieSettings()">Postavke kolačića</span></p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/storeCookie.js"></script>
    <script>
      if ($(window).width() < 700) {

                $("a").attr('href', function(i, value) {
                    return value.replace("{{cells.ID}}", "{{cells.MOB-ID}}");
                });
        $("a[href='https://www.ikea.com/hr/hr/catalog/products/00263850/']").attr('href', 'https://m.ikea.com/hr/hr/catalog/products/art/00263850/');
      }
    </script>
    <script src="content/slick/slick.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sheetrock/1.1.4/dist/sheetrock.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="js/mainscripts.js"></script>
    <script>
      
$( document ).ready(function() {
    loadSheet();
    loadSheet1();
});

var mySpreadsheetA = 'https://docs.google.com/spreadsheets/d/1f9u24VVoglonxLz-GDgPXh7bPAdyd7lpHRAc6fW59r4/edit#gid=111742367';

// Compile the Handlebars template for HR leaders.
var HRTemplateA = Handlebars.compile($('.prodWrapperPink').html());

function loadSheet() {
    // Load top five HR leaders.
    $('.prodWrapperPink').sheetrock({
        url: mySpreadsheetA,
        query: "select A,B,C,D,E,F,G",
        labels: ["ID", "MOB-ID", "TITLE", "DESC", "PRICE", "TAG", "IMG"],
        fetchSize: 0,
        rowTemplate: HRTemplateA,
        callback: function (error, options, response) {
            if (error == null){
                $(".prodContainer:contains('{{')").remove();
                $(".prodContainer:last-child").after("<div style='clear: both'></div>");
            }
            console.log(error, options, response);
            
        }
    });
}

      var mySpreadsheetB = 'https://docs.google.com/spreadsheets/d/1f9u24VVoglonxLz-GDgPXh7bPAdyd7lpHRAc6fW59r4/edit#gid=111742367';

      // Compile the Handlebars template for HR leaders.
      var HRTemplateB = Handlebars.compile($('.textUnderMainLinks').html());

      function loadSheet1() {
        // Load top five HR leaders.
        $('.textUnderMainLinks').sheetrock({
          url: mySpreadsheetB,
          query: "select A,B,C,D,E,F,G,I",
          labels: ["ID", "MOB-ID", "TITLE", "DESC", "PRICE", "TAG", "IMG", "SHORT"],
          fetchSize: 0,
          rowTemplate: HRTemplateB,
          callback: function (error, options, response) {
            if (error == null){
              $(".repeatingLinks:contains('{{')").remove();
            }
            console.log(error, options, response);

          }
        });
      }
    </script>
    <script>
      $('.navItem:nth-child(2) img:nth-child(1)').addClass("active");
    </script>
  </body>
</html>