<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>IKEA Napravi mjesta za sebe</title>
    <meta name="description" content="IKEA Napravi mjesta za sebe">
    <meta name="author" content="IKEA Napravi mjesta za sebe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="content/slick/slick.css"/>
    <link rel="stylesheet" href="content/slick/slick-theme.css">
    <link href="css/hamburgers.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="css/cookie-style.css">
    <link rel="stylesheet" type="text/css" href="css/cookie-styleTab.css">
    <link rel="stylesheet" type="text/css" href="css/cookie-styleMob.css">
    <link rel="stylesheet" type="text/css" href="css/transition.css">

  </head>

  <body onload="checkCookie()">
    <div id="socialAnalytics"></div>
    <div id="cookiePolicy"></div>
    <div class="transition-container paleBlue"></div>

    <div class="topLine paleBlue">
      <div class="leftSide"><a href="index.html"><img src="images/icon-home.svg"><p class="logo">IKEA</p></a><p class="description"><img src="images/icon-separator.svg"> Napravi mjesta za sebe</p></div>
    </div>

    <div class="hamburgerButton">
      <button class="hamburger hamburger--spin" type="button" onclick="toggleMenu()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>

    <div class="navBox strongBlue">
      <div class="navItem first">
        <h2>PLATSA</h2>
        <a href="platsa-bridge.html">
          <img class="prodImage" src="images/navPlatsaEdit.jpg" />
        </a>
      </div>
      <div class="navItem">
        <h2>BILLY</h2>
        <a href="billy.html">
          <img class="prodImage" src="images/navBillyEdit.jpg" />
          <img class="tagPrice" src="images/tagCijena.png" />
        </a>
      </div>
      <div class="navItem">
        <h2>KALLAX</h2>
        <a href="kallax.html">
          <img class="prodImage" src="images/navKallaxEdit.jpg" />
        </a>
      </div>
      <div class="navItem">
        <h2>BRIMNES</h2>
        <a href="brimnes.html">
          <img class="prodImage" src="images/navBrimnesEdit.jpg" />
        </a>
      </div>
    </div>

    <div class="platsaStairsHead">
      <a href="platsa-bridge.html" class="headArrowNext"><img src="images/icon-arrow.svg" /></a>
      <a href="platsa-studio.html" class="headArrowPrevious"><img src="images/icon-arrow.svg" /></a>
      <img class="heroImageDesk" src="images/bkgImages/IKEA_Bkg_Platsa_Stairs.jpg" />
      <img class="heroImageMob" src="images/bkgImages/IKEA_Bkg_Platsa_Stairs_Mobile.jpg" />
      <div class="mainHeadText">
        <p class="tagNew">Novo</p>
        <h3 class="prodName">PLATSA</h3>
        <p class="shortText">Ormar, bijela, Fonnes Ridabu</p>
        <h3 class="prodPrice">2.655 kn</h3>
        <a href="https://www.ikea.com/hr/hr/catalog/categories/departments/bedroom/41790/" target="_blank" class="linkButton">Otkrij PLATSA sustav</a>
      </div>
    </div>
    
    <p class="textUnderMainLinks">
      <a href="{{cells.ID}}" target="_blank" class="repeatingLinks brimnes">
        <span class="newTag">{{cells.TAG}}</span> 
        <span class="desc"> {{cells.SHORT}}</span>,
        <span class="title"> {{cells.TITLE}}</span>,
        <span class="price"> {{cells.PRICE}}</span>;
      </a> 
    </p>
    
    <div class="prodSection">
      <h1>Inspiracija za svaki kutak</h1>
      
      <div class="prodWrapper">
        <a href="{{cells.ID}}" target="_blank" class="prodContainer">
          <img src="{{cells.IMG}}">
          <div class="fixedHeightContainer">
          <h3 class="prodName">{{cells.TITLE}}</h3>
          <p class="shortText">{{cells.DESC}}</p>
          <h3 class="prodPrice">{{cells.PRICE}}</h3>
          </div>
          <div class="linkBox">
            <img src="images/icon-external.svg" />
          </div>
        </a>
      </div>

    </div>
    
    <div class="ikeaClassics">
      <h1>Posjeti stare prijatelje za nove ideje!</h1>
      <div class="imageHolder3">
        <a href="billy.html" class="classicsImage">
          <img class="prodImage" src="images/classics/IKEA_Classics_Billy.jpg" />
          <img class="tagPrice" src="images/tagCijena.png" />
          <h2>BILLY</h2>
          <p class="shortDesc">Savršen za kućnu biblioteku...</p>
        </a>
        <a href="kallax.html" class="classicsImage1">
          <img class="prodImage" src="images/classics/IKEA_Classics_Kallax.jpg" />
          <h2>KALLAX</h2>
          <p class="shortDesc">Jednostavan dizajn koji savršeno odgovara svakoj sobi...</p>
        </a>
        <a href="brimnes.html" class="classicsImage">
          <img class="prodImage" src="images/classics/IKEA_Classics_Brimnes.jpg" />
          <h2>BRIMNES</h2>
          <p class="shortDesc">Stil i fleksibilnost koji upotpunjuju tvoju dnevnu sobu...</p>
        </a>
        <div style="clear: both"></div>
      </div>
    </div>
    
    <div class="benefitsSection">
      <h1>Da, dobivaš više za manje!</h1>
      <img class="benefitsBkg" src="images/delivery-hr.svg" />
      <div class="benefitsText">
        <p>Pripremili smo nove niže cijene dostave za još lakše isprobavanje naših rješenja!</p>
        <a href="https://www.ikea.com/ms/hr_HR/customer-service/our-services/picking-and-delivery-nonecom.html" target="_blank" class="benefitsButton">Provjeri cijene dostave</a>
      </div>
      <div style="clear: both;"></div>
    </div>

    <footer>
      <p>© Inter IKEA Systems B.V. 1999. - 2018. | <span style="cursor: pointer" onclick="cookieSettings()">Postavke kolačića</span></p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/storeCookie.js"></script>
    <script>
      if ($(window).width() < 700) {

                $("a").attr('href', function(i, value) {
                    return value.replace("{{cells.ID}}", "{{cells.MOB-ID}}");
                });
        $("a[href='https://www.ikea.com/hr/hr/catalog/categories/departments/bedroom/41790/']").attr('href', 'https://m.ikea.com/hr/hr/search/?query=platsa&_=1533800421058');
      }
    </script>
    <script src="content/slick/slick.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sheetrock/1.1.4/dist/sheetrock.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="js/mainscripts.js"></script>
    <script>

      $( document ).ready(function() {
        loadSheet();
        loadSheet1();
      });

      var mySpreadsheetA = 'https://docs.google.com/spreadsheets/d/1f9u24VVoglonxLz-GDgPXh7bPAdyd7lpHRAc6fW59r4/edit#gid=19350710';

      // Compile the Handlebars template for HR leaders.
      var HRTemplateA = Handlebars.compile($('.prodWrapper').html());

      function loadSheet() {
        // Load top five HR leaders.
        $('.prodWrapper').sheetrock({
          url: mySpreadsheetA,
          query: "select A,B,C,D,E,F,G",
          labels: ["ID", "MOB-ID", "TITLE", "DESC", "PRICE", "TAG", "IMG"],
          fetchSize: 0,
          rowTemplate: HRTemplateA,
          callback: function (error, options, response) {
            if (error == null){
              $(".prodContainer:contains('{{')").remove();
              $(".prodContainer:last-child").after("<div style='clear: both'></div>");
            }
            console.log(error, options, response);

          }
        });
      }

      var mySpreadsheetB = 'https://docs.google.com/spreadsheets/d/1f9u24VVoglonxLz-GDgPXh7bPAdyd7lpHRAc6fW59r4/edit#gid=19350710';

      // Compile the Handlebars template for HR leaders.
      var HRTemplateB = Handlebars.compile($('.textUnderMainLinks').html());

      function loadSheet1() {
        // Load top five HR leaders.
        $('.textUnderMainLinks').sheetrock({
          url: mySpreadsheetB,
          query: "select A,B,C,D,E,F,G,I",
          labels: ["ID", "MOB-ID", "TITLE", "DESC", "PRICE", "TAG", "IMG", "SHORT"],
          fetchSize: 0,
          rowTemplate: HRTemplateB,
          callback: function (error, options, response) {
            if (error == null){
              $(".repeatingLinks:contains('{{')").remove();
            }
            console.log(error, options, response);

          }
        });
      }
    </script>
    <script>
      $('.navItem:nth-child(1) img:nth-child(1)').addClass("active");
    </script>
  </body>
</html>